body{
    background-color: wheat;
    background-image: url('StarWars.jpg');
    background-size: 1920px;
}

.balloon{
    height: 75px;
    width: 75px;
    background-color: rgb(255, 0, 0);
    color: red;
    border-radius: 60%;
    right: 50%;
}

@font-face {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    text-align: center;

    font-family: 'allura';
    src: url(Fonts/allura-font/Allura-oyw4.ttf);
    font-style: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

h1{
    width: 100px;
    border: 5px solid rgba(255, 0, 0, 0.425);
    margin: 10px;
    text-align: center;

    font-family: allura;
    font-weight: 500;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

@font-face{
    font-family: 'starwars';
    src: url(Fonts/starjedi/Starjedi.ttf);
    font-style: normal;
    font-weight: 100;
    font-size: large;
}
h2{
    font-family: starwars;
    font-weight: 500;
    font-size: large;
    color: rgb(238, 255, 0);
}
a{
    font-family: starwars;
    font-weight: 500;
    font-size: small;
    color: rgb(0, 0, 0);
}

@font-face{
    font-family: 'star_wars_galacticstanderd';
    src: url(Fonts/galactic-basic-font/GalacticBasic-rznB.ttf);
    font-style: normal;
    font-weight: 100;
    font-size: large;
}


h3{

    font-family: star_wars_galacticstanderd;
    font-weight: 500;
    font-size: large;
    color: rgb(255, 255, 255);
}
p{
    
}
