table, th, td {
    border:3px solid black;

    font-family: starwars;
    font-weight: 500;
    font-size: small;
    color: rgb(0, 0, 0);
  }

body{
    background-image: url('StarWars.jpg');
    background-size: 1920px;
}

.balloon{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,255,255,0) 100%);
    height: 75px;
    width: 75px;
    border-radius: 60%;
    right: 50%;
    
}

@font-face {

    font-family: 'allura';
    src: url(Fonts/allura-font/Allura-oyw4.ttf);
    font-style: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
}

h1{
    border: 5px solid rgba(255, 0, 0, 0.425);
    margin-left: 900px;
    margin-right: 900px;
    text-align: center;

    font-family: allura;
    font-weight: 500;
    font-size: x-large;
    color: rgb(255, 255, 255);
}

@font-face{
    font-family: 'starwars';
    src: url(Fonts/starjedi/Starjedi.ttf);
    font-style: normal;
    font-weight: 100;
    font-size: large;
}
h2{
    text-align: center;
    font-family: starwars;
    font-weight: 500;
    font-size: large;
    color: rgb(238, 255, 0);
}
a{
    font-family: starwars;
    font-weight: 500;
    font-size: small;
    color: rgb(0, 0, 0);
}

@font-face{
    font-family: 'star_wars_galacticstanderd';
    src: url(Fonts/galactic-basic-font/GalacticBasic-rznB.ttf);
    font-style: normal;
    font-weight: 100;
    font-size: large;
}


h3{
    text-align: center;
    font-family: star_wars_galacticstanderd;
    font-weight: 500;
    font-size: large;
    color: rgb(255, 255, 255);
}
p{
    
}
