body{
    background-color: wheat;
    background-image: url('bimage.png');
    background-size: 1200px;
}

.balloon{
    height: 75px;
    width: 75px;
    background-color: rgb(255, 0, 0);
    border-radius: 60%;
    left: 50%;
}